# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.idea/
.vscode/

# Compiled UI files
*.pyw

# Specs version
*.spec

# Miscellaneous
*.log
*.bak
*.swp

# Virtual env
venv/
