altgraph==0.17.4
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
contourpy==1.2.0
customtkinter==5.2.1
cycler==0.12.1
darkdetect==0.8.0
Eel==0.16.0
fonttools==4.44.3
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.1
gTTS==2.4.0
idna==3.4
imageio==2.32.0
kiwisolver==1.4.5
lazy_loader==0.3
matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.2
packaging==23.2
pefile==2023.2.7
Pillow==10.0.1
PyAudio==0.2.13
pycparser==2.21
pygame==2.5.2
pyimage==0.1.1
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pyparsing==3.1.1
pypiwin32==223
python-dateutil==2.8.2
pyttsx3==2.90
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
scikit-image==0.22.0
scipy==1.11.4
six==1.16.0
SpeechRecognition==3.10.0
tifffile==2023.9.26
urllib3==2.0.6
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.1
